/* Services/Certificates Section Styles */

.services,
.certificates {
    background: transparent;
}

.services h2,
.certificates h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
    align-items: stretch;
}

.services-container .services-box {
    background: rgba(50, 57, 70, 0.3);
    backdrop-filter: blur(10px);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(255, 255, 255, 0.05);
    transition: .35s ease, transform .35s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 36rem;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services-box .btn {
    margin-top: auto;
    align-self: center;
}
